table {
	margin-right: auto;
	margin-left: auto;
	border: 3px solid black;
	text-align: center;
	background-color: black;
}

td {
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background-color: white;
	margin: 5px 5px 5px 5px;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;

}

#asteegDisplay {
	text-align: right;
	font-size: 12px;
	height: 15px;
	color: white;
	background-color: black;
}

#display {
	text-align: right;
	border: none;
	font-size: 50px;
	height: 60px;
}

.uniqueButtons {
	background-color: #d2d2f9; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d2d2f9), to(#a6a6f2));
	background-image: -webkit-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -moz-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -ms-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -o-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: linear-gradient(to bottom, #d2d2f9, #a6a6f2);
}

.uniqueButtons:hover {
	background-color: #a5a5f3; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a5f3), to(#7a7aeb));
	background-image: -webkit-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -moz-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -ms-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -o-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: linear-gradient(to bottom, #a5a5f3, #7a7aeb);
}

.buttons {
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
}

.buttons:hover{
 border:1px solid #bfc4c4;
 background-color: #d9dddd; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
 background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
}